.verklein-afbeelding{
    width: 7em;
    height: auto;
    border: 0.5em solid rgb(132, 156, 170);
    margin: 1em;
    border-radius: 1em;
}

body{
    background-color: rgb(238, 244, 246);
    font-family: 'Courier New', Courier, monospace;
}

nav li{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 3em; 
    text-decoration: none;
    color: rgb(208, 195, 182);
    transition: 0.5s;
    border-radius: 5em;
}

nav li:hover{
    color: rgb(166, 204, 202);
    background-color: rgb(166, 204, 202);

}

nav ul{
    display: flex;
    justify-content: center;
}
